* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  transition: 0.3s;
}
html{
  background: linear-gradient(
    45deg,
    rgba(255, 220, 151, 1) 0%,
    rgba(255, 151, 206, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  min-height: 100%;
}
body {
  font-family: "Rubik", sans-serif;
}
#hamburger,
label {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 -20px 50px #df84b4;
  background: #df84b4aa;
  position: fixed;
  z-index: 1;
  -webkit-backdrop-filter: blur(100px);
  width: 100%;
  backdrop-filter: blur(100px);
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding: 0 50px;
  line-height: 70px;
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 0px #df84b4;
}
nav {
  display: flex;
  padding-right: 50px;
  box-sizing: border-box;
  width: 50%;
}
nav a {
  display: flex;
  line-height: 50px;
  align-items: center;
  justify-content: center;
  margin: 10px 5px;
  border-radius: 5px;
  color: white;
  flex-grow: 1;
}
nav a:hover {
  background: rgba(255, 255, 255, 0.2);
}
main {
  display: flex;
  padding: 70px 25px;
  flex-wrap: wrap;
  justify-content: center;
}
.side {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 330px;
  padding: 0 25px;
}
.media {
  display: flex;
  flex-direction: column;
}
.media a {
  height: 300px;
  background-image: url("dark.jpg");
  background-size: cover;
  box-shadow: 0 10px 20px #df84b4;
  background-position: center;
  margin: 0px 0px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
}
.media a:hover span {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px #df84b4;
}
.media a span {
  transition: 1s;
  border: 1px solid transparent;
  color: #fff;
  border-radius: 100px;
  font-weight: normal;
  font-size: 30px;
  width: 200px;
  line-height: 200px;
  text-align: center;
}
.media a:last-child {
  background-image: url("str.jpg");
}
.options {
  background: linear-gradient(
    45deg,
    rgba(255, 220, 151, 1) 0%,
    rgba(255, 151, 206, 1) 100%
  );
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}
.options > a {
  width: 50%;
  height: 60px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}
.options > a:hover {
  border-bottom: 1px solid #fff;
}
.social {
  width: 100%;
  display: flex;
}
.social a {
  width: 25%;
  height: 60px;
  display: flex;
  box-sizing: border-box;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
  align-items: center;
}
.social a:hover {
  background: rgba(255,255,255,0.1);
}
.social a img {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  filter: invert(100%) drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
}
.content {
  width: 550px;
  flex-grow: 2;
  box-sizing: border-box;
  padding: 0 25px;

}
h2 {
  line-height: 50px;
  padding: 25px 0;
  text-align: center;
  color: white;
  font-size: 30px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu a {
  height: 500px;
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  margin: 0 5px 25px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100px;
  border-radius: 5px;
  transition: 0.6s;
  box-shadow: 0 0px 10px #df84b4;
  flex-wrap: wrap;
}
.menu a:nth-child(1) {
  background-image: url("delivery.jpg");
  order: 3;
}
.menu a:nth-child(2) {
  background-image: url("dinner.jpg");
  order: 1;
}
.menu a:nth-child(3) {
  background-image: url("drink.jpg");
  order: 2;
}
.menu a:nth-child(4) {
  background-image: url("happy.jpg");
  background-position: bottom;
  order: 5;
}
.menu a:nth-child(5) {
  background-image: url("dessert.jpg");
  order: 4;
}
.menu a:hover {
  transform: scale(1.05);
  box-shadow: none;
}
.menu a:hover span {
  background: rgba(255, 255, 255, 1);
  transform: translateY(30%) translateZ(0);
}
.menu a span {
  transition: 0.6s;
  color: #222;
  text-align: center;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.1);
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 10px;
  margin-bottom: 10px;
  transform: translateZ(0);
}
.reviews {
  display: flex;
  flex-wrap: wrap;
}
.review {
  text-align: center;
  border-radius: 5px;
  transition: 0.3s;
  cursor: default;
  border: 10px solid transparent;
  margin: 5px;
  padding: 20px;
  width: 250px;
  flex-grow: 1;
  box-sizing: border-box;
  background: linear-gradient(
    45deg,
    rgba(255, 220, 151, 1) 0%,
    rgba(255, 151, 206, 1) 100%
  );
}
.review h3 {
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 10px;
}
.review p {
  font-size: 14px;
  border-radius: 5px;
  text-align: left;
  color: #333;
}
.review:hover {
  border: 10px solid #ffffff55;
}
@media (max-width: 600px) {
  header {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    background: linear-gradient(
      85deg,
      rgba(255, 220, 151, 1) 0%,
      rgba(255, 151, 206, 1) 100%
    );
  }
  .logo {
    width: 100%;
  }
  #hamburger,
  label {
    display: block;
    position: absolute;
  }
  #hamburger {
    opacity: 0;
  }
  label {
    width: 70px;
    height: 70px;
  }
  label span {
    transform: translateY(-50%);
  }
  label span,
  label span::after,
  label span::before {
    width: 50%;
    position: absolute;
    height: 2px;
    background: white;
    top: 50%;
    left: 25%;
    transition: 0.3s;
  }
  label span::after,
  label span::before {
    content: "";
    top: 5px;
    width: 100%;
    left: 0;
  }
  label span::before {
    top: -5px;
  }
  #hamburger:checked ~ nav {
    transform: translateX(0);
    opacity: 1;
  }
  #hamburger:checked ~ label span {
    transform: translateY(-50%) rotate(135deg);
  }
  #hamburger:checked ~ label span::after {
    top: 0;
  }
  #hamburger:checked ~ label span::before {
    top: 0;
    transform: rotate(-270deg);
  }
  nav {
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.3s;
    position: fixed;
    background: linear-gradient(
      85deg,
      rgba(255, 220, 151, 1) 0%,
      rgba(255, 151, 206, 1) 100%
    );
    height: calc(100% - 70px);
    width: 100%;
    top: 70px;
    flex-direction: column;
    padding-top: 25px;
    padding-right: 0;
  }
  nav a {
    background: blue;
    width: auto;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 25px 25px;
    flex-grow: 0;
  }
  .menu{
    flex-direction: column;
  }
  .menu a {
    width: auto;
    height: 200px;
  }
}
